# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Agent
.agent/skills/skills/
.agent/skills/docs/
.agent/skills/assets/
.agent/skills/*.json
.agent/skills/*.md
.agent/skills/scripts/
.agent/*.md
!.agent/Supabase_credentials.md
!.agent/Netlify_Credentials.md
!.agent/NetCred_Credentials.md

# Local Netlify folder
.netlify

# Claude/Antigravity local cache and config
.claude/
.antigravity/
.agent/NetCred_Credentials.md
.agent/Netlify_Credentials.md
.agent/Supabase_credentials.md
.agent/Exemplos Notificação JSON NetCred/exemplo_cobrança_boleto.json
.agent/Exemplos Notificação JSON NetCred/exemplo_cobranca_cartao.json
.agent/Exemplos Notificação JSON NetCred/exemplo_cobranca_pix.json
atalho de .agent 2
.agent/API NetCred Docs/API Netcred.postman_collection.json
